@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards-container .card-widget {
  height: auto;
  margin: 0.8rem;
  background-color: #fff;
  color: #000;
  border-top: 3px solid #b71c1c;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 8px;
  padding: 0;
  transition: all ease-in-out 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.cards-container .card-widget:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
.cards-container .card-widget:hover .card-icon i {
  transform: scale(1.07);
}
.cards-container .card-widget .card-info {
  width: auto;
  padding: 0.5rem;
}
.cards-container .card-widget .card-info h3 {
  font-size: 2.4rem;
  line-height: 0;
}
.cards-container .card-widget .card-info h2 {
  font-size: 1.4rem;
  line-height: 0;
}
.cards-container .card-widget .card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.cards-container .card-widget .card-icon i {
  color: #424242;
  font-size: 4rem;
  transition: all ease-in-out 0.5s 0.1s;
}
.cards-container .card-widget .card-progress-bar {
  width: 100%;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.cards-container .card-widget .card-progress-bar div {
  margin: 0;
  height: 3px;
  background-color: #b71c1c;
  animation: progress-bar-init 3s;
}
.cards-container .card-widget .card-button {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #424242;
}
.cards-container .card-widget .card-button a {
  width: 100%;
  padding: 0.3rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 0.2s;
}
.cards-container .card-widget .card-button a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

@keyframes progress-bar-init {
  0%, 30% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.profile-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}
.profile-container .profile-header {
  padding: 2rem 1rem 4rem 1rem;
  background-color: #b71c1c;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.profile-container .profile-header .profile-picture {
  width: auto;
  display: flex;
  justify-content: center;
}
.profile-container .profile-header .profile-picture .picture-container {
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  height: 150px;
  display: flex;
  border: 3px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  justify-content: center;
  transition: all ease-in-out 0.4s;
}
.profile-container .profile-header .profile-picture .picture-container:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}
.profile-container .profile-header .profile-picture .picture-container:hover img {
  transform: scale(1.05);
}
.profile-container .profile-header .profile-picture .picture-container img {
  transition: transform ease-in-out 0.4s;
  height: 150px;
  width: auto;
}
.profile-container .profile-header .info-container {
  width: auto;
  color: #fff;
  display: flex;
  align-items: center;
}
.profile-container .profile-header .info-container .role {
  text-transform: uppercase;
}
.profile-container .profile-info {
  display: flex;
  width: 92%;
  margin: auto;
  border-radius: 10px;
  margin-top: -2.5rem;
  flex-wrap: wrap;
  padding: 0.5rem 1rem 2rem 1rem;
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}
.profile-container .profile-info .info-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.profile-container .profile-info .info-header .icon i {
  font-size: 1.4rem;
}
.profile-container .profile-info .break {
  width: 100%;
  color: red;
}
.profile-container .profile-info .info-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profile-container .profile-info .info-body .info-field {
  width: auto;
  margin: 0 2rem;
}
@media screen and (max-width: 900px) {
  .profile-container .profile-header .profile-picture .picture-container {
    height: 120px;
    width: 120px;
  }
  .profile-container .profile-header .profile-picture .picture-container img {
    height: 120px;
  }
  .profile-container .profile-info {
    width: 85%;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=main.css.map */
